@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--main-bg-color);
    color: white;


}

nav {
    display: flex;
}

.logo img {
    width: 88px;
    padding: 0 22px;

}

.logo {
    display: flex;
    align-items: center;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
}

nav ul li a:hover {
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search button {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: 900;

}

.search input {
    width: 323px;
    height: 23px;
    border-radius: 2px;
    margin: 0 10px 0 35px;
    padding: 0 12px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.slider {
    display: flex;
    justify-content: center;

}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}